.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg_burger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2 , h3, h4, h5 {
    margin:  0;
}



h1 {
    font-size: 50pt;
    color: red;
    text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
    cursor: pointer;
}

h4 {
    font-size: 20pt;
    color: white;
    font-style: italic;
    padding-bottom: 30px;
}

.search button {
    background-color: white;
    font-weight: 500;    
}

.search input {
    width: 300px;
}

.search input, button {
    height: 60px;
    border-radius: 10px;
    border: 0px solid white;
    margin: 0 5px;
    padding: 0px 15px;
    min-width: 100px;
    font-size: 14pt;
}

.overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 1200px;
}

.overview h2 {
    cursor: pointer;
}

.overview img{
    position: relative;
    float: right;
    width: 200px;
    height: auto;
}

.restaurant {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, .6);
    margin: 50px;
    padding: 20px 50px;
    border-radius: 30px;   
    cursor: pointer;
}

.text {
    align-self: flex-start;
    padding-right: 20px;
}


.overview img{
    width: 200px;
    height: auto;
    padding: 10px 0;
}

.details {
    width: 600px;
    height: auto;
    background-color: rgba(255, 255, 255, .6);
    margin: 50px;
    padding: 20px 50px;
    border-radius: 30px;  
}

.details img{
    padding: 50px;
    width: 80%;
    height: auto;
    text-align: center;
}

.details h2 {
    font-size: 24pt;
}

.details p {
    font-size: 16pt;
}

.map {
    width: 600px;
    height: 400px;
}